
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.display-flex{
    display: flex;
}
.list-item{
    /* display: flex; */
}
.navbar-list{
    display: flex;
    list-style: none;
    gap: 20px;
}
.three-dot{
    display: none;
}
.navbar{
    justify-content: space-around;
    align-items: center;
}
.list-link{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 600;
}
.link1{
    color: rgb(255, 202, 42);
}
.link2{
 color: green;
}
.link3{
    color: violet;

}
.link4{
 color: crimson;
}
.navbar-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.navbar-logo{
    gap: 10px;
}
.btn-navbar{
    background-color: rgb(254, 163, 1);
    border: 2px solid orange ;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

.navbar-logo,.three-dot{
   
}
.horizontal-line{
    color: rgb(254, 163, 1);
    display: none;
}
/* Banner Section */
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
    width: 600px;
}
.banner-info,.banner-img{
    width: 600px;
   
}
.sp1{
    color:rgb(254, 163, 1);
    font-weight: 700;
    font-size: 3rem;
}
.sp2{
    color: rgb(1, 172, 253);
    font-weight: 700;
    font-size: 3rem;
}
.banner-description{
    font-weight: 400;
    font-size:1rem ;
}
.btn-banner{
    background-color: black;
    color:white;
    border-radius: 4px;
    /* padding-left: 5px;
    padding-right: 5px; */
    padding: 8px;
    width: 150px;
}
.standard-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.kindar{
text-align: center;
box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.elementary{
text-align: center;
box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.middle{
text-align: center;
box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.standard-title1{
    text-align: center;
    font-size: 30px;
    font-family: Quicksand;
    font-weight: 700;
}
.standard-container{
    margin-left: 100px;
    margin-right: 100px;
}

.standard-img{
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 50px;
}
.standard-description{
    padding-left: 35px;
    padding-right: 35px;
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
}
.read1{
    color: tomato;
}
.read2{
    color: green;
}
.read3{
    color: violet;
}
.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.arrow{
    text-align: center;
    padding: 20px;
    /* margin-top: 30px; */
    /* width: 15px; */
    background-color: goldenrod;
    border-radius: 100%;
    
}
.arrow2{
    text-align: center;
    padding: 20px;
    /* margin-top: 30px; */
    /* width: 15px; */
    background-color: goldenrod;
    border-radius: 50%;
}
.arrow-img{
    
}

/* Media Query */
@media screen  and (max-width:572px) {
    .navbar-title,.navbar-list,.btn-navbar{
        display: none;
    }
    .three-dot{
        display: block;
        width: 30px;
        height: 30px;
    }
    .horizontal-line{
        
        display: block;
    }
    .navbar{
        margin-left: 0;
        margin-right: 0;
    }
    /* Banner-section */
    .banner-container{
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
    }
    .banner-img{
        max-width: 100%;
    }
    .banner-info{
        max-width:calc( 100% - 20px );
    }
    .banner-title{
        font-weight: 600;
        font-size: 2rem;
        max-width: 100%;
    }
    .standard-card{
        flex-direction: column;
    }
    .standard-title1{
        max-width: 100%;
        font-size: 1.5rem;
    }
    .arrow-container{
        display: none;
    }
}
