
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.display-flex{
    display: flex;
}
.list-item{
    /* display: flex; */
}
.navbar-list{
    display: flex;
    list-style: none;
    gap: 20px;
}
.three-dot{
    display: none;
}
.navbar{
    justify-content: space-around;
    align-items: center;
}
.list-link{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 600;
}
.link1{
    color: rgb(255, 202, 42);
}
.link2{
 color: green;
}
.link3{
    color: violet;

}
.link4{
 color: crimson;
}
.navbar-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.navbar-logo{
    gap: 10px;
}
.btn-navbar{
    background-color: rgb(254, 163, 1);
    border: 2px solid orange ;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

.navbar-logo,.three-dot{
   
}
.horizontal-line{
    color: rgb(254, 163, 1);
    display: none;
}
/* Banner Section */
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
    width: 600px;
}
.banner-info,.banner-img{
    width: 600px;
   
}
.sp1{
    color:rgb(254, 163, 1);
    font-weight: 700;
    font-size: 3rem;
}
.sp2{
    color: rgb(1, 172, 253);
    font-weight: 700;
    font-size: 3rem;
}
.banner-description{
    font-weight: 400;
    font-size:1rem ;
}
.btn-banner{
    background-color: black;
    color:white;
    border-radius: 4px;
    /* padding-left: 5px;
    padding-right: 5px; */
    padding: 8px;
    width: 150px;
}












/* Media Query */
@media screen and (max-width:576px) {
    .navbar-title,.navbar-list,.btn-navbar{
        display: none;
    }
    .three-dot{
        display: block;
        width: 30px;
        height: 30px;
    }
    .horizontal-line{
        
        display: block;
    }
    .navbar{
        margin-left: 0;
        margin-right: 0;
    }
    /* Banner-section */
    .banner-container{
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
    }
    .banner-img{
        max-width: 100%;
    }
    .banner-info{
        max-width:calc( 100% - 20px );
    }
    .banner-title{
        font-weight: 600;
        font-size: 2rem;
        max-width: 100%;
    }
}
